header{
    align-items: center;
    height: 100px;
}
.header-logo{
    width: 30%;
    margin-right: auto;
}

.header-links{
    align-items: center;
    justify-content: space-around;
}
.header-link{
    padding: 10px;
    font-weight: bold;
}

* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
