.modal-container{
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.1);
    display: none;
    opacity: 0;
    transition: 0.3s linear;
}
.modal{
    background-color: #fff;
    border-radius: 10px;
    padding: 60px;
    width: 600px;
}

