$gold-color : #F0D108;
$gray: #707070;
$background-dark: #111;
$txt-clr:#8F8F8F;
$gray-background:#F9F9F9;

.c-white{
    color: white;
}
.c-black{
    color: black;
}

.txt-color{
    color: #8F8F8F;
}
.gray-background{
    background-color: $gray-background;
}