$body-fonts:'Roboto', sans-serif;
$font-xLarge: 48px;
$font-large: 40px;
$font-small: 16px;

.font-thin{
    font-weight: 300;
}
.f-bold{
    font-weight: bold;
}
.f-small{
    font-size: 16px;
}
.f-medium{
    font-size: 32px;
}
.f-big{
    font-size: 48px;
}
